<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuyển khoản xác nhận tham gia</title>
    <link rel="stylesheet" href="/css/styleXacnhan.css">
    <style>
        .highlight {
            font-size: 16px;
            font-weight: bold;
            color: blue;
            background-color: yellow;
            padding: 5px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <div class="container">
            <div class="main">
                <div class="content">
                    <h4>BƯỚC 2: </h4>
                        <strong style="font-size: 19px; color: red;">Anh/chị vui lòng chuyển khoảng 500k để xác nhận tham gia khoá học:</strong> 
                        <br> - STK: <strong style="color: red;">8283868886</strong> 
                        <br> - Ngân hàng: <strong style="color: red;">TECHCOMBANK</strong><br>
                        - Tên: <strong style="color: red;">NGUYEN THUY LINH</strong><br>
                        Hoặc quét mã QR nhé.</h4>
                        <p class="highlight">( Chuyển khoản thành công anh chị gửi hoá đơn qua ZALO để nhận quà từ Dương nhé. )</p>
                        <a href="https://zalo.me/0926345866">
                            <button class="btn" type="submit">
                                MỞ ZALO
                            </button>
                        </a>
                </div>
                <div class="form-img">
                    <img src="/img/qrcode.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
