<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XÁC NHẬN ĐĂNG KÝ THAM GIA KHOÁ HỌC TẠI PHỞ ĐẤT VIỆT</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
  <div class="login-form">
      <div class="container">    
          <div class="main">
              <div class="form-img">
                  <img src="/img/Chef dương.png" alt="">
              </div>
              <div class="content">
                  <h2>BƯỚC 1: ĐIỀN THÔNG TIN CÁ NHÂN</h2>
                  <form  action="sendMail" method="post">
                      <input type="text" name="fullName" placeholder="HỌ VÀ TÊN" required autofocus="">
                      <input type="number" name="phone" placeholder="SỐ ĐIỆN THOẠI" required autofocus="">
                      <input type="text" name="address" placeholder="ĐỊA CHỈ" required autofocus="">
                      <input type="text" name="job" placeholder="CÔNG VIỆC HIỆN TẠI" required autofocus="">
                      <button class="btn" type="submit">BƯỚC TIẾP THEO</button>
                  </form>
                  <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank" class="social-icon">
                      <img class="logoZalo" src="/img/2023_Facebook_icon.svg" alt="">
                    </a>
                    <a href="https://www.tiktok.com" target="_blank" class="social-icon">
                      <img class="logoZalo" src="/img/tiktok.webp" alt="">
                    </a>
                    <a href="https://www.zalo.com" target="_blank" class="social-icon">
                      <img class="logoZalo" src="/img/yt.png" alt="">
                    </a>
                    <a href="https://www.zalo.com" target="_blank" class="social-icon">
                      <img class="logoZalo" src="/img/zalo.png" alt="">
                    </a>
                  </div>          
                  <p class="account">Website: <a href="https://phodatviet.com">PHỞ ĐẤT VIỆT</a></p>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
